@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground font-sans;
}

body::-webkit-scrollbar {
  display: none;
}
